/*цвет основного текста  #212121 */
/*голубой цвет #2196F3 */
/* цвет мелкого текста #757575*/
/* фон темній #2F303A */
/*цвет белого текста #FFFFFF */


/* Common styles */

:root {
  --body-bgr-color: #ffffff;
  --primary-text-color: #212121;
  --accent-color: #2196F3;
  --title-text-color: #212121;
  --text-color: #757575;
  --hero-text-color: #FFFFFF;
  --background-color: #2F303A;
  --second-part-logo: #000000;
  --portfolio-button-bgr: #F5F4FA;
}



body {
  background-color: var(--body-bgr-color);
  color: var(--primary-text-color);
  font-family: 'Roboto';

}

.logo {
  color: var(--accent-color);
  font-family: 'Raleway';
  width: 145px;
  height: 31px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31/26);
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-part {
  color: var(--second-part-logo);
  font-family: 'Raleway';
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Site nav */

.site-nav .link {
  color: var(--primary-text-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16/14);
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contacts-nav .link {
  color: var(--text-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16/14);
  letter-spacing: 0.02em;
}

.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  background-color: var(--background-color);
}

.hero-title {
  color: var(--hero-text-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60/44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  width: 216px;
  height: 50px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30/16);
  letter-spacing: 0.06em;
}

/* Section */

.section-title {
  color: var(--title-text-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42/36);
  letter-spacing: 0.03em;
}

.features>.section-title {
  color: var(--hero-text-color);
}

.features p {
  color: var(--text-color);
}

.features .features-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16/14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Team */

.team-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19/16);
  letter-spacing: 0.03em;
}

.job-title {
  color: var(--text-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19/16);
  letter-spacing: 0.03em;
}

/* footer */

.address {
  font-style: normal;
}

.address-section {
  background-color: var(--background-color);
}

.address-map {
  color: var(--hero-text-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24/14);
  letter-spacing: 0.03em;
}

.contacts {
  color: var(--text-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24/14);
  letter-spacing: 0.03em;
}

.contacts:hover,
.contacts:focus {
  color: var(--accent-color)
}

.logo-part-ftr {
  color: var(--hero-text-color);
  font-family: 'Raleway', sans-serif;
}


/* styles for portfolio */
/* Button */
.buttons-title {
  color: var(--hero-text-color);
}

.button-primary {
  color: var(--primary-text-color);
  background-color: var(--portfolio-button-bgr);
  border-radius: 4px;
  width: 112px;
  height: 38px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26/16);
  letter-spacing: 0.03em;
}

.button-list .button-primary:hover,
.button-list .button-primary:focus {
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

/* Works */

.works-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36/18);
  letter-spacing: 0.06em;
}

.works-list p {
  color: var(--text-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30/16);
  letter-spacing: 0.03em;
}